PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=omar404
DB_USER=postgres
DB_PASSWORD=sua_senha_aqui

JWT_SECRET=seu_segredo_aqui

REDIS_URL=redis://localhost:6379

EMAIL_USER=seu_email
EMAIL_PASS=sua_senha_app
EMAIL_FROM=seu_nome_email <seu_email>